*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-size: 100%;
    font-family: sans-serif;
}

div, section, span, ul, li, a, header{
    box-sizing: border-box;
}

/*css reset*/

header{
    width: 100%;
    height: 90px;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    align-items: center;
    position:fixed;
    top: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
}

#menu li{
    z-index: 50;
    list-style: none;
    display: inline-block;
    margin: 20px;
}

#menu li a{
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    transition: all 0.3s ease;
}

#menu li a:hover{
    color: #e7a20e;
    transition: all 0.3s ease-in-out;
}

#menu li a::before{
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: rgb(252, 249, 249);
        transform: scaleX(0);
        transition: transform 0.3s ease;
}

#menu li a:hover::before{
    transform: scaleX(1);
}


section{
    width: 100%;
    float: left;
    height: 25cm;
    position: relative;
}




.column{
    float: left;
    width: 30%;
    padding: 5px;
}

.row {margin: 0 0px;}

.row:after {
  content: "";
  display: table;
  clear: both;
}




#home{
    background-image: url("../static/images/background1.jpg");
    background-repeat: no-repeat;
    background-size: 1300px 944px;
    background-color: #363636;
}

#news{
    background-color: #f3b1b1;
    height: 32cm;
}

#stock{
    background-color: #0c0c0c;
    height: 40cm;
}

#prediction{
    background-color: #7ae4f7; 
    height: 25cm;
}

#about{
    background-color:  #444d57;
    height: 24cm;
}

h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}









  
.card{
    position:relative;
    width:360px;
    height:300px;
    margin:60px;
    box-shadow:20px 20px 50px rgb(0,0,0,0.4);
    border-radius:15px;
    background:rgba(3, 103, 253, 0.3);
    overflow:hidden;
    display:flex;
    justify-content:center;
    align-items:center;
    backdrop-filter:blur(6px);
    transition: all 0.2s ease;
}

.card:hover{
    position:relative;
    width:380px;
    height:320px;
    margin:50px;
    box-shadow:20px 20px 50px rgba(0, 0, 0, 0.596);
    border-radius:15px;
    background:rgba(3, 103, 253, 0.4);
    overflow:hidden;
    display:flex;
    justify-content:center;
    align-items:center;
    backdrop-filter:blur(6px);
    transition: all 0.2s ease;
}


#news li{
    color: #fff;
    position:relative;
    width:300px;
    height:300px;
    padding: 10px 10px 10px 10px;
    margin: 150px 0px 50px 90px;
    border-radius: 15px;
    box-shadow:20px 20px 50px rgba(0,0,0,0.7);
    background: linear-gradient(to bottom, #4a47fa 0%, #ff99cc 100%);
    overflow:hidden;
    transition: all 0.2s ease;
    
}

#news li:hover{
    position: relative;
    width:310px;
    height:310px;
    padding: 15px 15px 15px 15px;
    margin: 95px 0px 45px 85px;
    transition: all 0.2s ease;
}

.head{
    color: #ffffff;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 1.2rem;
    justify-content: center;
}

.desc{
    color: #000000;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 0.87rem;
    justify-content: left;
}

.read{
    position: absolute;
    bottom: 30px;
    margin-left: 145px;
    margin-right: 30px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-right: 15px;
    font-size: 1rem;
    justify-content: center;

    box-shadow:5px 5px 10px rgba(0, 0, 0, 0.596);
    border-radius:15px;
    background:rgb(195, 250, 252);
    overflow:hidden;
}

.read a{
    color: rgb(255, 0, 0);
}




.container{
    position:relative;
    width:1000px;
    height:500px;
    margin:130px;
    margin-left: 150px;
    box-shadow:20px 20px 50px rgb(0,0,0,0.4);
    border-radius:15px;
    background:rgb(254, 254, 255);
    overflow:hidden;
    backdrop-filter:blur(6px);
    transition: all 0.2s ease;
}



/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    text-decoration: underline;
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }




  pre{
    position: absolute;
    margin-left: 50px;
    font-family: cursive;
    color: rgb(255, 255, 255);
    font-size: 2rem;
}


.section_heading{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 5rem;
}

.names{
    color: rgb(255, 255, 255);
}