<html>
    <head>
        <title>STOCK MARKET MONITOR</title>
        <link rel='stylesheet' href='css/stylesheet.css'>
    </head>
    <header class="header">
            
        <a href="#" class='logo'>
            <img src="{{url_for('static', filename = 'images/logo(1).png')}}">
            
        </a>
        <nav>
            <h1>Stock Market Monitor</h1>
        </nav>
        
    </header>
   
    <body class='background'>
        
        <h1 align='center' class='heading'>
        This is what our website looks like.
        </h1>
        <p class='content'>
            The human visual system is one of the wonders of the world.
            Consider the following sequence of handwritten digits:
            Most people effortlessly recognize those digits as 504192. That ease
            is deceptive. In each hemisphere of our brain, humans have a
            primary visual cortex, also known as V1, containing 140 million
            neurons, with tens of billions of connections between them. And yet
            human vision involves not just V1, but an entire series of visual
            cortices ­ V2, V3, V4, and V5 ­ doing progressively more complex
            image processing. We carry in our heads a supercomputer, tuned by
            evolution over hundreds of millions of years, and superbly adapted
            to understand the visual world. Recognizing handwritten digits isn't
            easy. Rather, we humans are stupendously, astoundingly good at
            making sense of what our eyes show us. But nearly all that work is
            done unconsciously. And so we don't usually appreciate how tough
            a problem our visual systems solve.
            The difficulty of visual pattern recognition becomes app
        </p>

        <img class='image' src="{{url_for('static', filename = 'images/Background.jpg')}}" align="middle">


    </body>
</html>