.header {
    background-color: rgb(235, 117, 117);
    opacity: 0.7;
    color: aliceblue;
}

.header .logo img{
    height: 5.5rem;
}

.background{
    background-image: url('D:/Minor Project/MPR Website/images/web_back.png');
    background-repeat: 0;
    background-size: cover;

}

.image{
    opacity: 0.5;
}

.image:hover{
    opacity: 1;
}

.content {
    background:rgb(240, 204, 87);
    border: 2px solid black;
}

.content:hover{
    background: rgb(169, 240, 216);
}
